h1{
    text-align: center;
    background-color: antiquewhite;
}

p{
    background-color: aquamarine;
    letter-spacing: 5px;
}

ol.listasuno{
    width: 200px;
    height: 100px;
    font-size: medium;
    box-sizing: content-box;
    border: rebeccapurple 25px solid;
}
ol.listasdos{
    width: 200px;
    height: 100px;
    font-style: italic;
    border: red 25px solid;
    padding: 20;
    margin: 30px;
}

dt.rojos{
            border: wheat 15px solid;
            text-align: center;
            font-style: italic;
            font-size: large;
}

dd{
    border: violet 10px solid;
    height: 150px;

}

dt.gigantes{
            border: wheat 15px solid;
            text-align: center;
            font-style: italic;
            font-size: large;
}


